In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient('mongodb://127.0.0.1/')

In [3]:
mydb = client['Employee']
empinfo = mydb.employeeInformation

In [15]:
records = [{
    'firstname':'Jack',
    'lastname':'Jacobs',
    'department':'Analytics',
    'age':18
}, 
    {
    'firstname':'Nick',
    'lastname':'Jacobs',
    'department':'Mechanics',
        'age':25
    }, 
    {
    'firstname':'James',
    'lastname':'Garner',
    'department':'Athletics',
        'age':32
    }]

In [16]:
empinfo.insert_many(records)

In [17]:
## Simple way of querying:
empinfo.find_one()

{'_id': ObjectId('6134a852d744e74b7002b726'),
 'firstname': 'Jack',
 'lastname': 'Jacobs',
 'department': 'Analytics'}

In [18]:
## SQL equivalent: SLEECT * FROM employeeInformation
for record in empinfo.find():
    print(record)

{'_id': ObjectId('6134a852d744e74b7002b726'), 'firstname': 'Jack', 'lastname': 'Jacobs', 'department': 'Analytics'}
{'_id': ObjectId('6134a852d744e74b7002b727'), 'firstname': 'Nick', 'lastname': 'Jacobs', 'department': 'Mechanics'}
{'_id': ObjectId('6134a852d744e74b7002b728'), 'firstname': 'James', 'lastname': 'Garner', 'department': 'Athletics'}
{'_id': ObjectId('6134a95bd744e74b7002b729'), 'firstname': 'Jack', 'lastname': 'Jacobs', 'department': 'Analytics', 'age': 18}
{'_id': ObjectId('6134a95bd744e74b7002b72a'), 'firstname': 'Nick', 'lastname': 'Jacobs', 'department': 'Mechanics', 'age': 25}
{'_id': ObjectId('6134a95bd744e74b7002b72b'), 'firstname': 'James', 'lastname': 'Garner', 'department': 'Athletics', 'age': 32}

In [19]:
## Query the json documents based on equality conditions:
## SELECT * FROM employeeInformation WHERE firstname="James"

for record in empinfo.find({'firstname':'James'}):
    print(record)

{'_id': ObjectId('6134a852d744e74b7002b728'), 'firstname': 'James', 'lastname': 'Garner', 'department': 'Athletics'}
{'_id': ObjectId('6134a95bd744e74b7002b72b'), 'firstname': 'James', 'lastname': 'Garner', 'department': 'Athletics', 'age': 32}

In [20]:
## Query documents using query operators($in, $lt, $gt):
for record in empinfo.find({'department':{'$in':['Analytics', 'Athletics']}}):
    print(record)

{'_id': ObjectId('6134a852d744e74b7002b726'), 'firstname': 'Jack', 'lastname': 'Jacobs', 'department': 'Analytics'}
{'_id': ObjectId('6134a852d744e74b7002b728'), 'firstname': 'James', 'lastname': 'Garner', 'department': 'Athletics'}
{'_id': ObjectId('6134a95bd744e74b7002b729'), 'firstname': 'Jack', 'lastname': 'Jacobs', 'department': 'Analytics', 'age': 18}
{'_id': ObjectId('6134a95bd744e74b7002b72b'), 'firstname': 'James', 'lastname': 'Garner', 'department': 'Athletics', 'age': 32}

In [21]:
for record in empinfo.find({'department':'Analytics', 'age':{'$lt':30}}):
    print(record)

{'_id': ObjectId('6134a95bd744e74b7002b729'), 'firstname': 'Jack', 'lastname': 'Jacobs', 'department': 'Analytics', 'age': 18}

In [22]:
for record in empinfo.find({'$and':[{'firstname':'Jack'}, {'department':'Analytics'}]}):
    print(record)

{'_id': ObjectId('6134a852d744e74b7002b726'), 'firstname': 'Jack', 'lastname': 'Jacobs', 'department': 'Analytics'}
{'_id': ObjectId('6134a95bd744e74b7002b729'), 'firstname': 'Jack', 'lastname': 'Jacobs', 'department': 'Analytics', 'age': 18}

In [23]:
inventory = mydb.inventory

In [24]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [25]:
for records in inventory.find({'size':{'h': 14, 'w': 21,'uom': "cm"}}):
    print(records)

{'_id': ObjectId('6134aab7d744e74b7002b72c'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}