## MongoDB Aggregate functions:
#### 1. avg()
#### 2. sum()
#### 3. project()

In [5]:
from pymongo import MongoClient

# Creation of object MongoClient:
client = MongoClient()

# Connect with the portnumber and the host:
client = MongoClient("mongodb://localhost:27017")

# Create/Access database:
myDB = client['Students']

# Access/create the collections of the database:
collection = myDB['studentscores']
data = [
    {"user":"Jack", "subject":"Database", "score":80}, 
    {"user":"Nick",  "subject":"JavaScript", "score":90}, 
    {"user":"Nick",  "title":"Database", "score":85}, 
    {"user":"Jack",  "title":"JavaScript", "score":75}, 
    {"user":"Nick",  "title":"Data Science", "score":60},
    {"user":"Jack",  "title":"Data Science", "score":95}
]

# Inserting data into our collection:
collection.insert_many(data)

In [8]:
# Find Jack's and Nick's total subjects:
aggResult = collection.aggregate(
[{
    "$group":
    {"_id":"$user", #User would act as the primary key#
    "Total Records":{"$sum":1}}
}]
)

In [9]:
aggResult

In [10]:
for record in aggResult:
    print(record)

{'_id': 'Nick', 'Total Subject': 3}
{'_id': 'Jack', 'Total Subject': 3}

In [11]:
# Calculating the total score based on the user:
aggMarks = collection.aggregate(
    [{
        "$group":
            {"_id":"$user",
            "Total Marks":{"$sum":"$score"}}
    }]
)

In [12]:
for record in aggMarks:
    print(record)

{'_id': 'Nick', 'Total Marks': 235}
{'_id': 'Jack', 'Total Marks': 250}

In [15]:
# Calculating the average score based on the user:
aggAverage = collection.aggregate([
    {
        "$group":
            {
                "_id":"$user",
        "studentAverageScore":{"$avg":"$score"}
            }
    }
])

In [16]:
for record in aggAverage:
    print(record)

{'_id': 'Nick', 'studentAverageScore': 78.33333333333333}
{'_id': 'Jack', 'studentAverageScore': 83.33333333333333}

### Using date-time data:

In [18]:
import datetime as datetime

In [19]:
### Create a new collection
data = [{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [20]:
# Creating a new collection
myCollection = myDB['stores']
myCollection.insert_many(data)

In [21]:
aggResult = myCollection.aggregate([
    {
        "$group":{
            "_id":"$item", # Item will be our primary key
            "avgAmount":{"$avg":{"$multiply":["$price", "$quantity"]}},
            "avgQuantity":{"$avg":"$quantity"}
        }
    }
])

In [22]:
for i in aggResult:
    print(i)

{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}
{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}

In [23]:
# Implementing "$project" operator:

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [24]:
# Creating a new collection:
collectionBooks = myDB['Books']

In [25]:
collectionBooks.insert_many(data)

In [26]:
# "$project" is equivalent to SELECT in SQL:
for record in collectionBooks.aggregate([{"$project":{"title":1, "isbn":1}}]):
    print(record)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}